.cardDesign{
    border: 1px solid #eee;
    background: #1e1e1e;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 20px;
    text-align: center;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}
.height{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}