.cardDesign{
    border: 1px solid purple;
    background: rgba(128, 0, 128, 0.1);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 20px;
    text-align: center;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}
.height{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn{
    padding: 10px 20px;
    border: 1px solid tomato;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn:hover{
    background-color: tomato;
    color: white;
}
.visited{
    background-color: tomato;
    color: white;
}
.visitedBG{
    background: rgba(128, 0, 128, 0.3);
}